# Ignore .env files
.env

# Go-related files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
bin/

# Go build artifacts
build/

# Node.js related files
node_modules/
npm-debug.log
yarn-error.log

# Logs
*.log

# IDE and editor-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific files 
.DS_Store
Thumbs.db